<!DOCTYPE html>
<%= yield %>
<body>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%=image_tag("home/home.jpg", alt: "Image")%>
    </div>
  </div>
  <div class="container-fluid">
  <h2>TALK</h2>
  <p>Tech and Entrepreneurship Speaker's series</p>
  <p>Tuesday’s 250 Sutardja Dai Hall, UC Berkeley</p>
  <p>Learn more about → <a href="https://docs.google.com/document/d/14R2kAcPNqTR3ajcTxCg5LJeABGFGYif-Of6t5Cmjde8/edit?usp=sharing">
      TALK</a></p>

  <h2>SHARE</h2>
  <p>Interested in web design and development but don't know where to start?</p>
  <p>Join us for FemTech Share, a 10-week workshop on HTML, CSS, and JavaScript that will have you programming in weeks.</p>
  <p>No prior coding experience necessary. All majors welcome.</p>
  <p>Learn more about → <a href="http://femtechshare.com/">
      SHARE</a></p>

  <h2>MAKE</h2>
  <p>Coming soon...</p>
</div>

</body>
