<!DOCTYPE html>
<%= yield %>
<body>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%=image_tag("home/vr.png", alt: "Image")%>
    </div>
  </div>
  <div class="container-fluid">
  <h2>TALK</h2>
  <p>Tech and Entrepreneurship Speaker's series</p>
  <p>A weekly Speaker Series of inspirational industry leaders meant to
    demystify tech and diversity in a growing industry</p>
  <p>Learn more about → <a href="https://docs.google.com/document/d/14R2kAcPNqTR3ajcTxCg5LJeABGFGYif-Of6t5Cmjde8/edit?usp=sharing">
      TALK</a></p>

  <h2>SHARE</h2>
  <p>A weekly self-paced Coding Session making available to the student body
    FEM Tech’s own tutors and mentors as a resource to people working on
    personal and class projects</p>
  <p>Learn more about → <a href="http://femtechshare.com/">
      SHARE</a></p>

  <h2>MAKE</h2>
  <p>A hands-on engineering series for all levels of experience. Previously,
    a team of ten FEM Tech members built an aqua robot in the invention lab
    at CITRIS & the Banatao Institute</p>
  <p>Learn more about → Coming soon...</p>

  <h2>More events coming soon...</h2>


  </div>

</body>
