<!DOCTYPE html>
<%= yield %>
<body>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%=image_tag("home/home.jpg", alt: "Image")%>
    </div>
  </div>
  <div class="container-fluid">
  <h2>TALK</h2>
  <p>Tech and Entrepreneurship Speaker's series</p>
  <p>A weekly Speaker Series of inspirational industry leaders meant to
    demystify tech and diversity in a growing industry</p>
  <p>Learn more about → <a href="https://docs.google.com/document/d/14R2kAcPNqTR3ajcTxCg5LJeABGFGYif-Of6t5Cmjde8/edit?usp=sharing">
      TALK</a></p>

  <h2>SHARE</h2>
  <p>A weekly self-paced Coding Session making available to the student body
    FEM Tech’s own tutors and mentors as a resource to people working on
    personal and class projects</p>
  <p>Learn more about → <a href="http://femtechshare.com/">
      SHARE</a></p>

  <h2>MAKE</h2>
  <p>A hands-on engineering series for all levels of experience. Previously,
    a team of ten FEM Tech members built an aqua robot in the invention lab
    at CITRIS & the Banatao Institute</p>
  <p>Learn more about → Coming soon...</p>

  <h2>TEKSPO (Future event)</h2>
  <p>Our Fall 2016 campus-wide event, will showcase work created by our members
    since the club’s inception.We will display work from our robotics and drone
    teams as well as the work students have created in our self-paced coding
    sessions.As one of our largest events of the semester, “FEMTekspo”will feature
    a mini-career expo, award ceremony, alumni speakers, and a mix’n mingle session.
    Students from all majors and backgrounds will attend “FEMTekspo,” giving sponsors
    an exclusive opportunity to connect with members of our diverse community.</p>
  

    <p>Location: Jacobs Institute</p>
    <p>Date: December 2, 2016 </p>
    <p>Time: 1:00 pm - 3:00 pm</p>
    <p> Learn more about → Coming soon...</p>


  </div>

</body>
