@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,400');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');
/*universal*/

#logo {
  height: 100px;
  width: 100px;
  padding-top: 30px;
}

#myNavbar {
  padding: 40px;
  padding-bottom: 0px;
  font-size: 1.5em;
  color: black;
}



section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

footer {
  background-color: #F5F5F5;
}

.container-fluid {
  padding: 60px;
  padding-bottom: 0px;
  padding-top: 0px;
  margin-bottom: 30px;
  align-content: center;
}


#icon {
  height: 40px;
  width: 40px;
}


/*typography*/
h1, h2, li{
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
}


h1 {
  font-size: 2.5em;
  text-align: center;

}

h2{
  font-size: 3em;
  padding-top: 1.0em;
  padding-bottom: 1.0em;
}


p{
  font-size: 1.2em;
  padding-bottom: 0em;
  font-family: 'Nunito Sans', sans-serif;
}

a {
  color: black;
  font-weight: 200;
  font-family: 'Nunito Sans', sans-serif;
}

/*home*/
.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    min-height:200px;
}

.btn {
      padding: 10px 20px;
      background-color: #333;
      color: #f1f1f1;
      border-radius: 0;
      transition: .2s;
      font-family: 'Lato', sans-serif;
  }
  .btn:hover, .btn:focus {
      border: 1px solid #333;
      background-color: #fff;
      color: #000;
      font-family: 'Lato', sans-serif;

  }

/*who_we_are */
#who_we_are {
  width: 150px;
  height: 150px;
}

.col-sm-3 {
  padding-bottom: 1.5em;
}
