@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,400');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Lato:300');

/*universal*/

#logo {
  height: 80px;
  width: 80px;
}

#logospace {
  padding-left: 30px;
  padding-top: 15px;

}

#myNavbar {
  padding-bottom: 0px;
  font-size: 1.5em;
  color: black;
  padding-top: 25px;
  padding-right: 100px;
}


section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

footer {
  background-color: #F5F5F5;
}



#icon {
  height: 40px;
  width: 40px;
}


/*typography*/
h1, h2{
  font-family: 'Lato', sans-serif;
  font-weight: 200;

}


h1 {
  font-size: 2.5em;
  text-align: center;

}

h2{
  font-size: 3em;
  padding-top: 1.0em;
  padding-bottom: 1.0em;
}


p{
  font-size: 1.2em;
  padding-bottom: 0em;
  font-weight: 200;
  letter-spacing: 1px;

}


a {
    color: black;
    font-weight: 200;
    font-size: 1.1em;
    font-family: 'Lato', sans-serif;
}




/*home*/
.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    min-height:200px;
}

.btn {
      padding: 10px 20px;
      background-color: #333;
      color: #f1f1f1;
      border-radius: 0;
      transition: .2s;
      font-family: 'Lato', sans-serif;
  }
  .btn:hover, .btn:focus {
      border: 1px solid #333;
      background-color: #fff;
      color: #000;
      font-family: 'Lato', sans-serif;

  }

/*who_we_are */
#who_we_are {
  width: 150px;
  height: 150px;
}

.col-sm-3 {
  padding-bottom: 1.5em;
}
